.user-list__wrapper{
    width: 30vw;
    min-width: 250px;
    height: 80vh;
    margin: 1vh auto;
    border: 1px black solid;
    overflow-y: scroll;
}
.user-list{
    margin: 0;
    padding-left: 0;
}
.user{
    border: 1px black solid;
    padding: 1vh 1vw;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.is-colored{
    background-color: rgba(185, 185, 185, 0.2);
}
.user:hover {
    background-color: rgba(185, 185, 185, 0.336);
}
.delete {
    background: none;
    border: none;
    font-family: sans-serif;
    font-size: 110%;
    padding: 0 5px;
    border-radius: 20px;
}
.delete::after{
    content: "×";
}
.delete:hover {
    background-color: rgba(185, 185, 185, 0.479);
}
.dropZone{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin:  5vh auto;
    width: 300px;
    height: 200px;

    background-color: rgba(212, 212, 212, 0.849);
    border: 2px rgba(71, 71, 71, 0.849) dashed;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253);
    box-sizing: border-box;

    color: rgba(0, 0, 0, 0.795);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
}
.dropping::after{
    content: "Drop here";
}
.loading::after{
    content: "Loading...";
}
.over{
    box-shadow: 0 0 10px rgb(23, 21, 116);
    background-color:  rgb(233, 233, 233);
    border: 2px rgba(0, 0, 0, 0.849) dashed;
}
.fileName{
    color: rgba(0, 0, 0, 0.795);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 3vh 0 1vh 0;
}